.app {
  display: grid;
  place-items: center;
  background-color: #202020;
  color: white;
  height: 100vh;
}

.contactMe {
  display: flex;
  flex-direction: column;
  background-color: #1a1a1a;
  width: 70%;
  height: 85%;
}

.contactMe > Form {
  padding: 25px 165px;
  display: flex;
  flex-direction: column;
}

.contactMe > Form > h1{
  font-size: 49px;
  font-weight: bold;
  margin-bottom: 15px;
}

.contactMe >  Form > input, textarea{
  outline-color: aquamarine;
  font-size: 18px;
  padding-left:27px;
  color:white;
  background-color: #2E2F33;
}

.contactMe >  Form > input{
  height: 58px;
  margin-bottom: 27px;
}
.contactMe >  Form > textarea {
  /* overflow: scroll; */
  height: 136px;
  padding-top: 19px;
  padding-right: 37px;
  margin-bottom: 19px;
  resize: none;
}

.contactMe >  Form > button{
  width: 173px;
  height: 47px;
  font-size:20px;
  border-radius: 30px;
  background-color:#5BB85A;
  color: white;
  align-self: center;
}